tmis_finance_consumer/src/main/resources/Exchange_MIS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://schemas.xmlsoap.org/soap/envelope"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:xsd1="http://schemas.xmlsoap.org/soap/envelope"
             name="Exchange_MIS"
             targetNamespace="http://schemas.xmlsoap.org/soap/envelope">
    <types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:xs1="http://schemas.xmlsoap.org/soap/envelope"
                   targetNamespace="http://schemas.xmlsoap.org/soap/envelope"
                   attributeFormDefault="unqualified"
                   elementFormDefault="qualified">
            <xs:complexType name="PersonName">
                <xs:sequence>
                    <xs:element name="family"
                                type="xs:string"/>
                    <xs:element name="given"
                                type="xs:string"/>
                    <xs:element name="partName"
                                type="xs:string"/>
                    <xs:element name="BirthDay"
                                type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ServiceCompleteInfo">
                <xs:sequence>
                    <xs:element name="idAction"
                                type="xs:int"/>
                    <xs:element name="endDate"
                                type="xs:date"/>
                    <xs:element name="codeOfService"
                                type="xs:string"/>
                    <xs:element name="nameOfService"
                                type="xs:string"/>
                    <xs:element name="codeOfStruct"
                                type="xs:int"/>
                    <xs:element name="nameOfStruct"
                                type="xs:string"/>
                    <xs:element name="amount"
                                type="xs:double"/>
                    <xs:element name="isService"
                                type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="putTreatment">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="idTreatment"
                                    type="xs:int"/>
                        <xs:element name="dateTreatment"
                                    type="xs:date"/>
                        <xs:element name="numTreatment"
                                    type="xs:string"/>
                        <xs:element name="numInvoice"
                                    type="xs:string"/>
                        <xs:element name="sumInvoice"
                                    type="xs:double"/>
                        <xs:element name="codePatient"
                                    type="xs:string"/>
                        <xs:element name="patientName"
                                    type="tns:PersonName"/>
                        <xs:element name="codePayer"
                                    type="xs:string"/>
                        <xs:element name="payerName"
                                    type="tns:PersonName"/>
                        <xs:element name="remove"
                                    type="xs:int"/>
                        <xs:element name="invoice_id"
                                    type="xs:int"/>
                        <xs:element name="employeeID"
                                    type="xs:int"/>
                        <xs:element name="email"
                                    type="xs:string"/>
                        <xs:element name="phoneNumber"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="putTreatmentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return"
                                    type="xs:integer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="putReturn">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="parentNumInvoice"
                                    type="xs:string"/>
                        <xs:element name="numInvoice"
                                    type="xs:string"/>
                        <xs:element name="sumReturn"
                                    type="xs:double"/>
                        <xs:element name="remove"
                                    type="xs:int"/>
                        <xs:element name="invoice_id"
                                    type="xs:int"/>
                        <xs:element name="parentInvoice_id"
                                    type="xs:int"/>
                        <xs:element name="employeeID"
                                    type="xs:int"/>
                        <xs:element name="email"
                                    type="xs:string"/>
                        <xs:element name="phoneNumber"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="putReturnResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return"
                                    type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </types>
    <message name="putTreatmentRequestMessage">
        <part name="parameters"
              element="tns:putTreatment"/>
    </message>
    <message name="putTreatmentResponseMessage">
        <part name="parameters"
              element="tns:putTreatmentResponse"/>
    </message>
    <message name="putReturnRequestMessage">
        <part name="parameters"
              element="tns:putReturn"/>
    </message>
    <message name="putReturnResponseMessage">
        <part name="parameters"
              element="tns:putReturnResponse"/>
    </message>
    <portType name="Exchange_MISPortType">
        <operation name="putTreatment">
            <input message="tns:putTreatmentRequestMessage"/>
            <output message="tns:putTreatmentResponseMessage"/>
        </operation>
        <operation name="putReturn">
            <input message="tns:putReturnRequestMessage"/>
            <output message="tns:putReturnResponseMessage"/>
        </operation>
    </portType>
    <binding name="Exchange_MISSoapBinding"
             type="tns:Exchange_MISPortType">
        <soapbind:binding style="document"
                          transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="putTreatment">
            <soapbind:operation style="document"
                                soapAction="http://schemas.xmlsoap.org/soap/envelope#Exchange_MIS:putTreatment"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="putReturn">
            <soapbind:operation style="document"
                                soapAction="http://schemas.xmlsoap.org/soap/envelope#Exchange_MIS:putReturn"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="Exchange_MISSoap12Binding"
             type="tns:Exchange_MISPortType">
        <soap12bind:binding style="document"
                            transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="putTreatment">
            <soap12bind:operation style="document"
                                  soapAction="http://schemas.xmlsoap.org/soap/envelope#Exchange_MIS:putTreatment"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="putReturn">
            <soap12bind:operation style="document"
                                  soapAction="http://schemas.xmlsoap.org/soap/envelope#Exchange_MIS:putReturn"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="Exchange_MIS">
        <port name="Exchange_MISSoap"
              binding="tns:Exchange_MISSoapBinding">
            <documentation>
                <wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/"
                           conformsTo="http://ws-i.org/profiles/basic/1.1"/>
            </documentation>
            <soapbind:address location="http://10.1.0.108/AS06_bgu_razrabotka/ws/Exchange_MIS.1cws"/>
        </port>
        <port name="Exchange_MISSoap12"
              binding="tns:Exchange_MISSoap12Binding">
            <soap12bind:address location="http://10.1.0.108/AS06_bgu_razrabotka/ws/Exchange_MIS.1cws"/>
        </port>
    </service>
</definitions>