tmis_finance_consumer/src/main/resources/gnc_finance_external_1C.wsdl

<definitions name="Exchange_MIS"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"
        xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://schemas.xmlsoap.org/soap/envelope"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsd1="http://schemas.xmlsoap.org/soap/envelope"
        targetNamespace="http://schemas.xmlsoap.org/soap/envelope">
    <types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xs1="http://schemas.xmlsoap.org/soap/envelope" targetNamespace="http://schemas.xmlsoap.org/soap/envelope" attributeFormDefault="unqualified" elementFormDefault="qualified">
            <xs:complexType name="PersonName">
                <xs:sequence>
                    <xs:element name="family" type="xs:string"/>
                    <xs:element name="given" type="xs:string"/>
                    <xs:element name="partName" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ServiceCompleteInfo">
                <xs:sequence>
                    <xs:element name="idAction" type="xs:int"/>
                    <xs:element name="endDate" type="xs:date"/>
                    <xs:element name="codeOfService" type="xs:string"/>
                    <xs:element name="nameOfService" type="xs:string"/>
                    <xs:element name="codeOfStruct" type="xs:int"/>
                    <xs:element name="nameOfStruct" type="xs:string"/>
                    <xs:element name="amount" type="xs:double"/>
                    <xs:element name="isService" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="putTreatment">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="idTreatment" type="xs:int"/>
                        <xs:element name="dateTreatment" type="xs:date"/>
                        <xs:element name="numTreatment" type="xs:string"/>
                        <xs:element name="numInvoice" type="xs:string"/>
                        <xs:element name="sumInvoice" type="xs:int"/>
                        <xs:element name="codePatient" type="xs:string"/>
                        <xs:element name="patientName" type="tns:PersonName"/>
                        <xs:element name="codePayer" type="xs:string"/>
                        <xs:element name="payerName" type="tns:PersonName"/>
                        <xs:element name="remove" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="putTreatmentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="putService">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="idTreatment" type="xs:int"/>
                        <xs:element name="paidName" type="tns:PersonName"/>
                        <xs:element name="listServiceComplete" type="tns:ServiceCompleteInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="putServiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </types>
    <message name="putTreatmentRequestMessage">
        <part name="parameters" element="tns:putTreatment"/>
    </message>
    <message name="putTreatmentResponseMessage">
        <part name="parameters" element="tns:putTreatmentResponse"/>
    </message>
    <message name="putServiceRequestMessage">
        <part name="parameters" element="tns:putService"/>
    </message>
    <message name="putServiceResponseMessage">
        <part name="parameters" element="tns:putServiceResponse"/>
    </message>
    <portType name="Exchange_MISPortType">
        <operation name="putTreatment">
            <input message="tns:putTreatmentRequestMessage"/>
            <output message="tns:putTreatmentResponseMessage"/>
        </operation>
        <operation name="putService">
            <input message="tns:putServiceRequestMessage"/>
            <output message="tns:putServiceResponseMessage"/>
        </operation>
    </portType>
    <binding name="Exchange_MISSoapBinding" type="tns:Exchange_MISPortType">
        <soapbind:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="putTreatment">
            <soapbind:operation style="document" soapAction="http://schemas.xmlsoap.org/soap/envelope#Exchange_MIS:putTreatment"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="putService">
            <soapbind:operation style="document" soapAction="http://schemas.xmlsoap.org/soap/envelope#Exchange_MIS:putService"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="Exchange_MISSoap12Binding" type="tns:Exchange_MISPortType">
        <soap12bind:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="putTreatment">
            <soap12bind:operation style="document" soapAction="http://schemas.xmlsoap.org/soap/envelope#Exchange_MIS:putTreatment"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="putService">
            <soap12bind:operation style="document" soapAction="http://schemas.xmlsoap.org/soap/envelope#Exchange_MIS:putService"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="Exchange_MIS">
        <port name="Exchange_MISSoap" binding="tns:Exchange_MISSoapBinding">
            <documentation>
                <wsi:Claim xmlns:wsi="http://ws-i.org/schemas/conformanceClaim/" conformsTo="http://ws-i.org/profiles/basic/1.1"/>
            </documentation>
            <soapbind:address location="http://as-06/AS06_bgu/ws/Exchange_MIS"/>
        </port>
        <port name="Exchange_MISSoap12" binding="tns:Exchange_MISSoap12Binding">
            <soap12bind:address location="http://as-06/AS06_bgu/ws/Exchange_MIS"/>
        </port>
    </service>
</definitions>