pharmacy_medical_prescriptions_consumer/src/main/resources/PharmacyMedicalPrescription.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://schemas.xmlsoap.org/soap/envelope"
             name="PharmacyMedicalPrescription"
             targetNamespace="http://schemas.xmlsoap.org/soap/envelope">
    <types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   targetNamespace="http://schemas.xmlsoap.org/soap/envelope"
                   attributeFormDefault="unqualified"
                   elementFormDefault="qualified">
            <!--Тип контрагента-->
            <xs:simpleType name="ContragentType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="JURIDICAL"/>
                    <xs:enumeration value="PHYSICAL"/>
                </xs:restriction>
            </xs:simpleType>
            <!--Пол-->
            <xs:simpleType name="Sex">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="MALE"/>
                    <xs:enumeration value="FEMALE"/>
                    <xs:enumeration value="UNKNOWN"/>
                </xs:restriction>
            </xs:simpleType>
            <!--Тип адреса-->
            <xs:simpleType name="AddressType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="REGISTRATION"/>
                    <xs:enumeration value="LIVING"/>
                    <xs:enumeration value="UNKNOWN"/>
                </xs:restriction>
            </xs:simpleType>
            <!--Статус экшена-->
            <xs:simpleType name="Status">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="STARTED"/>
                    <xs:enumeration value="WAIT"/>
                    <xs:enumeration value="FINISHED"/>
                </xs:restriction>
            </xs:simpleType>
            <!--Источник финансирования-->
            <xs:complexType name="RbUnit">
                <xs:sequence>
                    <!--Идентифкатор в ТМИС-->
                    <xs:element name="id" type="xs:int"/>
                    <!--Код записи справочника -->
                    <xs:element name="code" type="xs:string"/>
                    <!--Наименование записи справочника -->
                    <xs:element name="name" type="xs:string"/>
                    <!--Краткое Наименование записи справочника -->
                    <xs:element name="shortName" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <!--РЛС Наименование Действующих Средств-->
            <xs:complexType name="RlsActMatters">
                <xs:sequence>
                    <!--Идентифкатор в ТМИС-->
                    <xs:element name="id" type="xs:int"/>
                    <!--Международное наименование -->
                    <xs:element name="name" type="xs:string"/>
                    <!--Локальное наименование -->
                    <xs:element name="localName" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <!--РЛС Торговые наименования препаратов-->
            <xs:complexType name="RlsTradeName">
                <xs:sequence>
                    <!--Идентифкатор в ТМИС-->
                    <xs:element name="id" type="xs:int"/>
                    <!--Международное наименование -->
                    <xs:element name="name" type="xs:string"/>
                    <!--Локальное наименование -->
                    <xs:element name="localName" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <!--РЛС Форма выпуска ЛС-->
            <xs:complexType name="RlsForm">
                <xs:sequence>
                    <!--Идентифкатор в ТМИС-->
                    <xs:element name="id" type="xs:int"/>
                    <!--наименование -->
                    <xs:element name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <!--РЛС Форма упаковки-->
            <xs:complexType name="RlsPackaging">
                <xs:sequence>
                    <!--Идентифкатор в ТМИС-->
                    <xs:element name="id" type="xs:int"/>
                    <!--наименование -->
                    <xs:element name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <!--РЛС Форма фасовки ЛС-->
            <xs:complexType name="RlsFilling">
                <xs:sequence>
                    <!--Идентифкатор в ТМИС-->
                    <xs:element name="id" type="xs:int"/>
                    <!--наименование -->
                    <xs:element name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <!--Справочник РЛС-->
            <xs:complexType name="RlsNomen">
                <xs:sequence>
                    <!--Идентифкатор в ТМИС-->
                    <xs:element name="id" type="xs:int"/>
                    <!--Действующие вещества-->
                    <xs:element name="actMatters" type="tns:RlsActMatters"/>
                    <!--Торговое название -->
                    <xs:element name="tradeName" type="tns:RlsTradeName"/>
                    <!--Вид лекарственной формы-->
                    <xs:element name="form" type="tns:RlsForm"/>
                    <!--Упаковка-->
                    <xs:element name="packaging" type="tns:RlsPackaging"/>
                    <!--Фасовка-->
                    <xs:element name="filling" type="tns:RlsFilling"/>
                    <!--Единица измерения-->
                    <xs:element name="unit" type="tns:RbUnit"/>
                    <!--дозировка-->
                    <xs:element name="dose" type="tns:ValueAndUnit"/>
                    <!--Срок годности препарата в месяцах-->
                    <xs:element name="drugLifeTime" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <!--Значение с единицей измерения-->
            <xs:complexType name="ValueAndUnit">
                <xs:sequence>
                    <!--Значение -->
                    <xs:element name="value" type="xs:double"/>
                    <!--Значение -->
                    <xs:element name="unit" type="tns:RbUnit"/>
                </xs:sequence>
            </xs:complexType>
            <!--Лекарственное назначение-->
            <xs:complexType name="MedicalPrescription">
                <xs:sequence>
                    <!--Идентифкатор в ТМИС-->
                    <xs:element name="id" type="xs:int"/>
                    <!--Назначенный препарат-->
                    <xs:element name="rls" type="tns:RlsNomen"/>
                    <!--Статус -->
                    <xs:element name="status" type="tns:Status"/>
                    <!--дозировка-->
                    <xs:element name="dose" type="tns:ValueAndUnit"/>
                    <!--частота ввдения препарата-->
                    <xs:element name="frequency" type="tns:ValueAndUnit"/>
                    <!--Длительность-->
                    <xs:element name="duration" type="tns:ValueAndUnit"/>
                    <!--Дата начала ЛН-->
                    <xs:element name="begDate" type="xs:date"/>
                    <!--Примечание-->
                    <xs:element name="note" type="xs:string"/>
                    <!--Причина отмены-->
                    <xs:element name="reasonOfCancel" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <!--Экшен со списком назначений-->
            <xs:complexType name="PrescriptionAction">
                <xs:sequence>
                    <!--Идентифкатор в ТМИС-->
                    <xs:element name="id" type="xs:int"/>
                    <!--Статус -->
                    <xs:element name="status" type="tns:Status"/>
                    <!--дата+время начала-->
                    <xs:element name="begDate" type="xs:date"/>
                    <!--дата+время окончания-->
                    <xs:element name="endDate" type="xs:date"/>
                    <!--Список ЛН-->
                    <xs:element name="prescriptions" type="tns:MedicalPrescription" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <!--Адрес-->
            <xs:complexType name="Address">
                <xs:sequence>
                    <!--Идентифкатор в ТМИС-->
                    <xs:element name="id" type="xs:int"/>
                    <!--Тип адреса -->
                    <xs:element name="addressType" type="tns:AddressType"/>
                    <!--Значение адреса -->
                    <xs:element name="value" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <!--Пациент-->
            <xs:complexType name="Person">
                <xs:sequence>
                    <!--Идентифкатор в ТМИС-->
                    <xs:element name="id" type="xs:int"/>
                    <!--Фамилия -->
                    <xs:element name="lastName" type="xs:string"/>
                    <!--Имя -->
                    <xs:element name="firstName" type="xs:string"/>
                    <!--Отчество -->
                    <xs:element name="patrName" type="xs:string"/>
                    <!--Пол -->
                    <xs:element name="sex" type="tns:Sex"/>
                    <!--Дата рождения -->
                    <xs:element name="birthDate" type="xs:date"/>
                    <!--Адреса -->
                    <xs:element name="addresses" maxOccurs="unbounded" type="tns:Address"/>
                </xs:sequence>
            </xs:complexType>
            <!--Источник финансирования-->
            <xs:complexType name="RbFinance">
                <xs:sequence>
                    <!--Идентифкатор в ТМИС-->
                    <xs:element name="id" type="xs:int"/>
                    <!--Код записи справочника -->
                    <xs:element name="code" type="xs:string"/>
                    <!--Наименование записи справочника -->
                    <xs:element name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <!--Организация -->
            <xs:complexType name="Organisation">
                <xs:sequence>
                    <!--Идентифкатор в ТМИС-->
                    <xs:element name="id" type="xs:int"/>
                    <!--dashed string uuid -->
                    <xs:element name="uuid" type="xs:string"/>
                    <!--Краткое наименование организации-->
                    <xs:element name="shortName" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <!--Контрагент-->
            <xs:complexType name="Contragent">
                <xs:sequence>
                    <!--Идентифкатор в ТМИС-->
                    <xs:element name="id" type="xs:int"/>
                    <!--Тип контрагента -->
                    <xs:element name="type" type="tns:ContragentType"/>
                    <!--контрагент-пользователь(пациент) физ. лицо -->
                    <xs:element name="person" type="tns:Person"/>
                    <!--контрагент-организация юр. лицо-->
                    <xs:element name="organisation" type="tns:Organisation"/>
                </xs:sequence>
            </xs:complexType>
            <!--Контракт-->
            <xs:complexType name="Contract">
                <xs:sequence>
                    <!--Идентифкатор в ТМИС-->
                    <xs:element name="id" type="xs:int"/>
                    <!--плательщик -->
                    <xs:element name="payer" type="tns:Contragent"/>
                    <!--номер договора -->
                    <xs:element name="number" type="xs:string"/>
                    <!--дата+врем подписания договора-->
                    <xs:element name="signDate" type="xs:date"/>
                    <!--дата+время начала действия договора-->
                    <xs:element name="begDate" type="xs:date"/>
                    <!--дата+время окончания действия договора-->
                    <xs:element name="endDate" type="xs:date"/>
                    <!--Источник финансирования договора-->
                    <xs:element name="finance" type="tns:RbFinance"/>
                </xs:sequence>
            </xs:complexType>
            <!--Метод лечения-->
            <xs:complexType name="RbTreatment">
                <xs:sequence>
                    <!--Идентифкатор в ТМИС-->
                    <xs:element name="id" type="xs:int"/>
                    <!--Код записи справочника -->
                    <xs:element name="code" type="xs:string"/>
                    <!--Наименование записи справочника -->
                    <xs:element name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <!--Талон ВМП-->
            <xs:complexType name="VmpTicket">
                <xs:sequence>
                    <!--Идентифкатор в ТМИС-->
                    <xs:element name="id" type="xs:int"/>
                    <!--номер талона -->
                    <xs:element name="number" type="xs:string"/>
                    <!--дата+время начала действия талона-->
                    <xs:element name="begDate" type="xs:date"/>
                    <!--дата+время окончания действия талона-->
                    <xs:element name="endDate" type="xs:date"/>
                    <!--Метод лечения-->
                    <xs:element name="treatment" type="tns:RbTreatment"/>
                </xs:sequence>
            </xs:complexType>
            <!--Обращение (Госпитализация)-->
            <xs:complexType name="Event">
                <xs:sequence>
                    <!--Идентифкатор в ТМИС-->
                    <xs:element name="id" type="xs:int"/>
                    <!--Дата/время создания обращения -->
                    <xs:element name="setDate" type="xs:date"/>
                    <!--Номер ИБ (истории болезни)-->
                    <xs:element name="externalId" type="xs:string"/>
                    <!--Дата/время закрытия обращения -->
                    <xs:element name="endDate" type="xs:date"/>
                    <!--Пациент (к которому привязано Обращение) -->
                    <xs:element name="client" type="tns:Person"/>
                    <!--Контракт, в рамках которого проводится лечение в этом обращении (счета могут выставляться на доп контракты)-->
                    <xs:element name="contract" type="tns:Contract"/>
                    <!--Талон ВМП в рамках обращения-->
                    <xs:element name="vmpTicket" type="tns:VmpTicket"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="createRequest">
                <xs:complexType>
                    <xs:sequence>
                        <!--Обращение (Госпитализация)-->
                        <xs:element name="event" type="tns:Event"/>
                        <!--Экшен с ЛН-->
                        <xs:element name="prescription" type="tns:PrescriptionAction"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="createResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="closeRequest">
                <xs:complexType>
                    <xs:sequence>
                        <!--Обращение (Госпитализация)-->
                        <xs:element name="event" type="tns:Event"/>
                        <!--Экшен с ЛН-->
                        <xs:element name="prescription" type="tns:PrescriptionAction"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="closeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </types>
    <message name="createRequestMessage">
        <part name="parameters" element="tns:createRequest"/>
    </message>
    <message name="createResponseMessage">
        <part name="parameters" element="tns:createResponse"/>
    </message>
    <message name="closeRequestMessage">
        <part name="parameters" element="tns:closeRequest"/>
    </message>
    <message name="closeResponseMessage">
        <part name="parameters" element="tns:closeResponse"/>
    </message>
    <portType name="PharmacyMedicalPrescriptionPortType">
        <operation name="create">
            <input message="tns:createRequestMessage"/>
            <output message="tns:createResponseMessage"/>
        </operation>
        <operation name="close">
            <input message="tns:closeRequestMessage"/>
            <output message="tns:closeResponseMessage"/>
        </operation>
    </portType>
    <binding name="PharmacyMedicalPrescriptionSoapBinding" type="tns:PharmacyMedicalPrescriptionPortType">
        <soapbind:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="create">
            <soapbind:operation style="document" soapAction="http://schemas.xmlsoap.org/soap/envelope#PharmacyMedicalPrescription:create"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
        <operation name="close">
            <soapbind:operation style="document" soapAction="http://schemas.xmlsoap.org/soap/envelope#PharmacyMedicalPrescription:close"/>
            <input>
                <soapbind:body use="literal"/>
            </input>
            <output>
                <soapbind:body use="literal"/>
            </output>
        </operation>
    </binding>
    <binding name="PharmacyMedicalPrescriptionSoap12Binding" type="tns:PharmacyMedicalPrescriptionPortType">
        <soap12bind:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="create">
            <soap12bind:operation style="document" soapAction="http://schemas.xmlsoap.org/soap/envelope#PharmacyMedicalPrescription:create"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
        <operation name="close">
            <soap12bind:operation style="document" soapAction="http://schemas.xmlsoap.org/soap/envelope#PharmacyMedicalPrescription:close"/>
            <input>
                <soap12bind:body use="literal"/>
            </input>
            <output>
                <soap12bind:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="PharmacyMedicalPrescription">
        <port name="PharmacyMedicalPrescriptionSoap" binding="tns:PharmacyMedicalPrescriptionSoapBinding">
            <soapbind:address location="http://127.0.0.1/PharmacyMedicalPrescription/ws/PharmacyMedicalPrescription"/>
        </port>
        <port name="PharmacyMedicalPrescriptionSoap12" binding="tns:PharmacyMedicalPrescriptionSoap12Binding">
            <soap12bind:address location="http://127.0.0.1/PharmacyMedicalPrescription/ws/PharmacyMedicalPrescription"/>
        </port>
    </service>
</definitions>